<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>This is where you add new users!</h1>
    <p><a href="/logout">Logout</a></p>
    <p><a href="/dashboard">Return to Dashboard</a></p>

    {% if messages %}
    <ul>
        {% for message in messages %}
            <li {%if message.tags %} class="{{ message.tags }}" {% endif %}></li>{{ message }}</li>
            {% endfor %}
    </ul>
    {% endif %}

<form action="/add_new_user" method="POST">
    {% csrf_token %}
    <p><label for="first_name">First Name</label></p>
    <p><input type="text" id="first_name" name="first_name"></p>

    <p><label for="last_name">Last Name</label></p>
    <p><input type="text" id="last_name" name="last_name"></p>

    <p><label for="email">Email:</label></p>
    <p><input type="text" id="email" name="email"></p>

    <p><label for="password">Password</label></p>
    <p><input type="password" id="password" name="password"></p>

    <p><label for="confirm_pw">Confirm PW</label></p>
    <p><input type="password" id="confirm_pw" name="confirm_pw"></p>

    <p><input type="submit" value="Create"></p>
</form>

</body>
</html>