<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

</head>
<body>
    <div class='jumbotron text-center'>
        <h1>{{ current_user.first_name }} {{ current_user.last_name }}</h1>
        <h2>{{ current_user.email }}</h2>
        <br>
        <h2>Total number of Ideas: {{ current_user.ideas.count }}</h2>
        <h2>Total number of Comments: {{ current_user.comments.count }}</h2>
    
    

        <p><a href="/ideas" class="btn btn-primary">See everyone's ideas!</a></p>
        <p><a href="/dashboard" class="btn btn-primary">Return to Dashboard</a></p>
        <p><a href="/logout" class="btn btn-danger">Logout</a></p>
    </div>
</body>
</html>